.container.about-container#about
    .row
        .col-12
            h3.title.text-left.section-title.section-title-about.text-center <strong> Who I am </strong>
        span.section-division
        .col-12.col-md-12.col-lg-4
            br
            br
            br
            br
            h3 I was born in 
                span Comilla, 
                | for more than a decade I live in
                span  Dhaka 
                | Bangladesh
    
        .col-12.col-md-6.col-lg-4
            img(src="/images/ab.jpg", alt="image" style="width:230px;height:358px;margin-left:15%")

        .col-12.col-md-6.col-lg-4
            p(style="text-align:justify;") This is Nur Alam. I've just completed my graduation in Computer Science and Engineering (CSE) at Eastern University. My life is CODED!  I love codes, analysis & algorithms. I am interested in C, C++ &amp; JavaScript. My specialty is web apps &amp; back-end development using JavaScript. web applications using technologies like React.js, Node.js, Express.js &amp; MongoDB. Participate online Programming Contest : CodeForces, CodeChef, HackerRank, HackerEarth, AtCoder. I like building awesome software. I've built websites, browser plugins, corporate software! If you are interested, you can hire Me.
            
        span.section-division    
