.container-fluid.text-center.social-icons-container#links.card-footer
    each icon in helpers.socialIcons
        a(href=`${icon.href}` target="_blank" rel="noopener")
            i(class=`fa ${icon.faIcon}` aria-hidden="true")
    br 
    br
    small.text-center.text-white &copy CopyRight &nbsp; <strong> NurAlam </strong> &nbsp; 2019
